#QW ul,
#QW li,
#QW span,
#QW a {
  margin: 0;
  padding: 0;
  position: relative;
}
#QW {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141418;
  background: -moz-linear-gradient(top, #333343 0%, #141418 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333343), color-stop(100%, #141418));
  background: -webkit-linear-gradient(top, #333343 0%, #141418 100%);
  background: -o-linear-gradient(top, #333343 0%, #141418 100%);
  background: -ms-linear-gradient(top, #333343 0%, #141418 100%);
  background: linear-gradient(to bottom, #333343 0%, #141418 100%);
  border-bottom: 2px solid #fdf5e6;
  width: auto;
}
#QW:after,
#QW ul:after {
  content: '';
  display: block;
  clear: both;
}
#QW a {
  background: #141418;
  background: -moz-linear-gradient(top, #333343 0%, #141418 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333343), color-stop(100%, #141418));
  background: -webkit-linear-gradient(top, #333343 0%, #141418 100%);
  background: -o-linear-gradient(top, #333343 0%, #141418 100%);
  background: -ms-linear-gradient(top, #333343 0%, #141418 100%);
  background: linear-gradient(to bottom, #333343 0%, #141418 100%);
  color: grey;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#QW ul {
  list-style: none;
}
#QW > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#QW.align-center {
  text-align: center;
}
#QW.align-center > ul > li {
  float: none;
}
#QW.align-center ul ul {
  text-align: left;
}
#QW.align-right > ul {
  float: right;
}
#QW.align-right ul ul {
  text-align: right;
}
#QW > ul > li > a {
  color: grey;
  font-size: 12px;
}
#QW > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fdf5e6;
  margin-left: -10px;
}
#QW > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#QW.align-right > ul > li:first-child > a,
#QW.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#QW.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#QW > ul > li.active > a,
#QW > ul > li:hover > a {
  color: grey;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: black;
  background: -moz-linear-gradient( black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, black));
background: -webkit-linear-gradient( black 100%);
  background: -o-linear-gradient 0%, black 100%);
  background: -ms-linear-gradient 0%, black 100%);
  background: linear-gradient(to bottom, #262626 0%, black 100%);
}  
#QW .has-sub {
  z-index: 1;
}
#QW .has-sub:hover > ul {
  display: block;
}
#QW .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#QW.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#QW .has-sub ul li {
  *margin-bottom: -1px;
}
#QW .has-sub ul li a {
  background: #fdf5e6;
  border-bottom: 1px solid #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: grey;
}
#QW .has-sub ul li:hover a {
  background:  black;
}
#QW ul ul li:hover > a {
  color: grey;
}
#QW .has-sub .has-sub:hover > ul {
  display: block;
}
#QW .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#QW.align-right .has-sub .has-sub ul,
#QW.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#QW .has-sub .has-sub ul li a {
  background:  reindigo border-bottom: 1px solid #31b7f1;
}
#QW .has-sub .has-sub ul li a:hover {
  background: #fffffa;
}
#QW ul ul li.last > a,
#QW ul ul li:last-child > a,
#QW ul ul ul li.last > a,
#QW ul ul ul li:last-child > a,
#QW .has-sub ul li:last-child > a,
#QW .has-sub ul li.last > a {
  border-bottom: 0;
}
 ul ul li:last-child > a,
#QW ul ul ul li.last > a,
#QW ul ul ul li:last-child > a,
#QW .has-sub ul li:last-child > a,
#QW .has-sub ul li.last > a {
  border-bottom: 0;
}

}

}

}
:last-child > a,
#QW ul ul ul li.last > a,
#QW ul ul ul li:last-child > a,
#QW .has-sub ul li:last-child > a,
#QW .has-sub ul li.last > a {
  border-bottom: 0;
}

}

}

}
